.premium-management {
    padding: 20px;
    margin-top: 70px;
  }
  
  .error-message {
    color: red;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  button {
    margin: 5px;
  }
  